body {
    margin: 0;
    font-family: Rubik;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 0;
}

.top-image-container {
    height: 30vh;
    width: 100%;
}

.bottom-image-container {
    height: 70vh;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#map { 
    width: 100%;
    height: 100%;
    display: block; 
    z-index: 0;
}

.text-elements-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

h1{
    color: white;
    margin-bottom: 0;
    font-weight: 700;
}

.input-container{
    width: 35vw;
    height: 40px;;
    margin: 0 auto;
    display: flex;
    gap: 0;
    background-color: white;
    border-radius: 10px;
}

#ip-input{
    flex-grow: 1;
    min-width: 0;
    border: none;
    padding: 10px;
}

#ip-input:hover{
    cursor: pointer;
}

button{
    background-color: black;
    color: white;
    width:3.5rem;
    border: none;
}

button:hover {
    cursor: pointer;
}

.location-data-main-container {
    display: flex;
    width: 70vw;
    height: fit-content;
    background-color: white;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
}

.location-data-wrapper{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding: 10px;
    gap: 10px;
}

.location-data-label{
    font-size:x-small;
    font-weight: 700;
    color: hsl(0, 0%, 58%);
}

@media (width < 480px) {
    .text-elements-container{
        gap:20px;
    }
    .location-data-main-container {
       flex-direction: column; 
       align-items: center;
       padding: 10px;
    }

     .location-data-wrapper {
       text-align: center;
    }

     .input-container {
       width:70vw;
       margin:0;
    }

    .top-image-container {
    height: 40vh;
    width: 100%;
}

.bottom-image-container {
    height: 60vh;
    width: 100%;
}
}

